* {
    box-sizing: border-box;
  
  }
  
  .container-nav {
    background: linear-gradient(#ff8080, rgb(208, 181, 181));
    overflow: hidden;
    width: 100%;
    height: 60px;
  }
  
  .contenedor-menu {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    z-index: 250;
    width: 250px;
    background-color: #CDFAD5;
    transition: left 0.3s ease;
  }
  
  .contenedor-menu.activo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
    z-index: 10;
    max-height: 350px;
    padding: 0px;
    background: linear-gradient(#CDFAD5, #f6fdc3, #ffcf96);
    margin-top: 70px;
    border-radius: 0px 45px 45px 0px;
    border: solid 4px;
    box-shadow: 25px 35px 55px rgba(112, 110, 110, 0.9);
  }
  
  .menu {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    width: 90%;
  }
  
  .menu ul li {
    text-align: center;
    width: 100%;
    text-decoration: none;
    color: #010000;
    font-size: 20px;
    display: block;
    padding: 3px 5px;
    border-radius: 10px;
  }
  
  .menu ul li a:hover {
    transform: translateY(13%);
    cursor: pointer;
    background-color: rgb(234, 209, 177);
  }
  
  .menu ul li a {
    margin-bottom: 15px;
    width: 100%;
    text-decoration: none;
    color: #010000;
    display: block;
    padding: 3px 5px;
    border-radius: 10px;
    box-shadow: 0px 20px 19px rgba(112, 110, 110, 0.7);
  }
  
  .menu ul li button:hover {
    box-shadow: 0px 20px 19px rgba(112, 110, 110, 0.7);
    background-color: #ff8080;
    transform: translateY(-3%);
    color: black;
    cursor: pointer;
  }
  
  .icono-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin: 5px 15px;
    cursor: pointer;
    transition: all 400ms ease;
    border-radius: 20px;
    background-color: #ffacac;
  }
  
  .icono-menu:hover {
    background-color: #f6fdc3;
    transform: translateY(-3%);
  }